 <!--Footer-->
 <footer class="section footer-classic section-sm" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 row-footer-brand">
          <div class="d-md-flex justify-content-end">
            <a class="brand" href="index.html"><img class="brand-logo-light" src="images/logoJasman_blanco.png" alt="" width="100" height="17"/></a>
          </div>
        </div>
        <div class="col-12 col-sm-6 row-footer-brand">
          <div class="text-brand" class="ml-4">
            <p class="footer-classic-description offset-top-0 offset-right-25"><span class="name-abo">Abogado Javier Schvartzman</span> </p>
            <p><a href="https://api.whatsapp.com/send?phone=+543516167336&text=Buen%20d%C3%ADa,%20Javier!%20Me%20contacto%20porque%20necesito%20asesor%C3%ADa%20legal" target="_blank">télefono: 3516167336</a></p>  
            <p><a href="mailto:info@jasman.com.ar" target="_blank">mail: info@jasman.com.ar</a></p>  
          </div>
        </div>
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-12 text-center">
          <h3>Ubicaciones de oficinas</h3>              
        </div>
      </div>
      <div class="row footer-direccion">
        <div class="col-md-4 p-2">
          <h4>Córdoba Capital</h4>
          <p> Bv. San Juan 1350, B° Paso de los Andes.<br> C.P. 5000</p>
          <div class="margin-mapa-lg">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.8826689020893!2d-64.2021979845358!3d-31.417358603443347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xccdd5bf4c511494c!2sEstudio%20Jur%C3%ADdico%20Schvartzman%20y%20Asoc!5e0!3m2!1ses-419!2sar!4v1572976543187!5m2!1ses-419!2sar" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div> 
        <div class="col-md-4 p-2">
          <h4>Cosquín</h4>
          <p > Obispo Bustos 271, B° Los Carolinos.<br> C.P. 5166</p>
          <div class="margin-mapa-lg">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d852.8338417599325!2d-64.45990447076305!3d-31.23913815218317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d7bbee2a08ea9%3A0xf9635d225be98713!2sObispo%20Bustos%20271%2C%20X5166%20Cosqu%C3%ADn%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1574363299200!5m2!1ses-419!2sar" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>  
        <div class="col-md-4 p-2">
          <h4>Carlos Paz</h4>
          <p> Pellegrini 350 ex 180, Local 2 edificio Miralejos 9.<br> C. P. 5152</p>
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.930411758899!2d-64.50311758453587!3d-31.41604330337958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d666a82abcccd%3A0x6b67ed089deb2f73!2sCarlos%20Pellegrini%20350%2C%20Villa%20Carlos%20Paz%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1574363447701!5m2!1ses-419!2sar" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>   
      </div>
    </div>
    <div class="container wow fadeInUp" data-wow-delay=".4s">
      <div class="footer-classic-aside">
        <!-- <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p> -->
        <ul class="social-links">
          <li><a class="fa fa-linkedin" href="https://www.linkedin.com/company/jasman-estudio-jur%C3%ADdico-integral?trk=d_public_post_follow_view_profile"></a></li>
          <!-- <li><a class="fa fa fa-twitter" href="#"></a></li> -->
          <li><a class="fa fa-facebook" href="https://www.facebook.com/jasmanestudio/"></a></li>
          <li><a class="fa fa-instagram" href="https://www.instagram.com/jasmanestudio/"></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>


<!--coded by Drel-->
</body>
</html>